{% if mobileFullWidth == true %}
    {% assign fullWidth = "button--mobile-full-width" %}
{%else%}
    {% assign fullWidth = "" %}
{% endif %}

<button id="{{ jsReference }}" class="button button--{{ buttonOption }} button--{{ buttonSize }} {{fullWidth}}" {{ state }} >
  {% if iconLeftID %}
    <svg class="button__icon button__icon--left">
      <use href="/assets/svg/icons.svg#{{ iconLeftID }}" />
    </svg>
  {% endif %}
  
  <span class="button__text">{{ buttonText }}</span>

  {% if iconRightID %}
    <svg class="button__icon button__icon--right">
      <use href="/assets/svg/icons.svg#{{ iconRightID }}" />
    </svg>
  {% endif %}
</button>

