{% if option %}
    {% assign buttonOption = "button-notext--" | append: option %}
    {% assign iconOption = "button-icon--" | append: option %}
{% else %}
    {% assign buttonOption = "" %}
    {% assign iconOption = "" %}
{% endif %}

{% if size == "small" %}
    {% assign buttonSize = "button-notext--" | append: size %}
    {% assign iconSize = "button-icon--" | append: size %}
{% else %}
    {% assign buttonSize = "" %}
    {% assign iconSize = "" %}
{% endif %}

{% if link %}
    {% assign linkLength = link | size %}
{% else %}
    {% assign linkLength = 0%}
{% endif %}

{% capture image %}
    <img class="button-icon {{ iconOption }} {{ iconSize }}" src="{{ iconSrc }}" alt="{{ alt }}"/>
{% endcapture %}

{% if linkLength > 0 %}
    <a class="button-notext {{ buttonOption }} {{ buttonSize }}" id="js-{{ isReference }}" href="{{ link }}" target="_blank" rel="external nofollow" aria-label="{{ aria }}">
        {{ image }}
    </a>
{% else %}
    <button class="button-notext {{ buttonOption }} {{ buttonSize }}" id="js-{{ isReference }}" aria-label="{{ aria }}">
        {{ image }}
    </button>
{% endif %}
