<button class="button button--{{ buttonOption }} button--{{ buttonSize }}" {{ state }} >
  {% if iconSrcLeft %}
    <img class="button__icon button__icon--left" src="{{ iconSrcLeft }}"/>
  {% endif %}
  
  <span class="button__text">{{ buttonText }}</span>

  {% if iconSrcRight %}
    <img class="button__icon button__icon--right" src="{{ iconSrcRight }}"/>
  {% endif %}
</button>

