<div><input type="checkbox" class="filter-checkbox__input" id="{{ isReference }}" name="{{ name }}" value="{{ value }}"/>
    <label class="filter-checkbox" for="{{ isReference }}">
        <svg class="filter-checkbox__icon" fill="none" height="20" viewbox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="10" fill="#181818" r="10"/>
            <path class="filter-checkbox__icon__animated-path" d="M10 5V15" stroke-width="1.5" stroke="white"/>
            <path d="M5 10L15 10" stroke-width="1.5" stroke="white"/>
        </svg>
        <div class="filter-checkbox__text">{{ label }}</div>
    </label>
</div>
