<form id="js-filter-bar" class="filter-bar {{additionalClass}}" data-js-item="{{filterListClass}}">
    <!-- Mobile Filter Bar Floating– -->
    <header id="js-mobile-filter-header" class="filter-bar__mobile-header filter-bar__mobile-header--floatable">
        <p class="filter-bar__mobile-legend">
            Filter <br />
            <small class="mobile-active-filters">All</small>
        </p>
        <!-- Open / Close Filterbar MOBILE ONLY -->
        <div class="filter-bar__toggle">
            <button
                class="toggle-button js-toggle-filter-bar--mobile"
                aria-label="{{ careers.filter.ariaLabelFilterToggle }}"
                aria-haspopup="true"
                aria-controls="js-filter-bar"
                aria-expanded="false"
            >
                <img src="/assets/svg/Chevron-down-S.svg"/> 
            </button>
        </div>
    </header>

    <div class="grid filter-wrapper">
        <!-- This is the mobile header in the Flyout -->
        <header class="filter-bar__mobile-header">
            <p class="filter-bar__mobile-legend">
                Filter <br />
                <small class="mobile-active-filters">All</small>
            </p>

            <!-- Open / Close Filterbar MOBILE ONLY -->
            <div class="filter-bar__toggle">
                <button
                    class="toggle-button js-toggle-filter-bar--mobile"
                    aria-label="{{ careers.filter.ariaLabelFilterToggle }}"
                    aria-haspopup="true"
                    aria-controls="js-filter-bar"
                    aria-expanded="false"
                    tabindex="-1"
                >
                    <img src="/assets/svg/Close-S.svg"/>
                </button>
            </div>
        </header>

        <!-- Open / Close Filterbar -->
        <div class="filter-bar__toggle col-1 col-start-12 hidden-xs">
            <button
                id="js-toggle-filter-bar"
                class="toggle-button toggle-button--items"
                aria-label="{{ careers.filter.ariaLabelFilterToggle }}"
                aria-haspopup="true"
                aria-controls="js-filter-bar"
                aria-expanded="false"
            >
                <img src="/assets/svg/Chevron-down-S.svg"/>
            </button>
        </div>

        <!-- Builds the Filtergroups in the Filterbar -->
        {% for filter in filterbar.filters %} {% include filter-group, filter: filter %} {% endfor %}

        <!-- Clear filters / Apply Filters -->
        <div class="filter-bar__confirm-group col-12-xs col-start-1-xs col-6-s col-start-8-s col-4 col-start-9">
            <button class="button button--clear" id="js-clear-filter" tabindex="-1">Clear All</button>
            <button class="button button--apply" id="js-apply-filter" tabindex="-1">Apply</button>
        </div>
    </div>
</form>

<!-- Filter Container Floating Bubble / Appears when filterbar is out of sight -->
<div id="js-mobile-floater" class="mobile-floater visible-xs {{additionalClass}}">
        <button
            class="toggle-button js-toggle-filter-bar--mobile"
            aria-label="{{ careers.filter.ariaLabelFilterToggle }}"
            aria-haspopup="true"
            aria-controls="js-filter-bar"
            aria-expanded="false"
            tabindex="-1"
        >
            <img src="/assets/svg/Filter-L.svg"/>
        </button>
</div>