
{% for item in items %}
	<div class="list__item col-4 col-6-s col-6-xs" data-location="{{ item.data.location | downcase }}" data-discipline="{{ item.data.discipline | downcase }}">
		<a class="list__anchor" href="/{{ entityName }}/{{ item.data.title | slug }}-{{ item.data.location | slug }}.html">
			<div class="list__image-wrapper">
				<img alt="{{ item.data.title }}" class="news-item-image"
					loading="lazy" src="{{ item.data.image }}">
			</div>
			<div class="list__item-title">{{ item.data.title }}</div>
		</a>
	</div>
	<div class="list__item col-4 col-6-s col-6-xs" data-location="{{ item.data.location | downcase }}" data-discipline="{{ item.data.discipline | downcase }}">
		<a class="list__anchor" href="/{{ entityName }}/{{ item.data.title | slug }}-{{ item.data.location | slug }}.html">
			<div class="list__image-wrapper">
				<img alt="{{ item.data.title }}" class="news-item-image"
					loading="lazy" src="{{ item.data.image }}">
			</div>
			<div class="list__item-title">{{ item.data.title }}</div>
		</a>
	</div>
	<div class="list__item col-4 col-6-s col-6-xs" data-location="{{ item.data.location | downcase }}" data-discipline="{{ item.data.discipline | downcase }}">
		<a class="list__anchor" href="/{{ entityName }}/{{ item.data.title | slug }}-{{ item.data.location | slug }}.html">
			<div class="list__image-wrapper">
				<img alt="{{ item.data.title }}" class="news-item-image"
					loading="lazy" src="{{ item.data.image }}">
			</div>
			<div class="list__item-title">{{ item.data.title }}</div>
		</a>
	</div>
	<div class="list__item col-4 col-6-s col-6-xs" data-location="{{ item.data.location | downcase }}" data-discipline="{{ item.data.discipline | downcase }}">
		<a class="list__anchor" href="/{{ entityName }}/{{ item.data.title | slug }}-{{ item.data.location | slug }}.html">
			<div class="list__image-wrapper">
				<img alt="{{ item.data.title }}" class="news-item-image"
					loading="lazy" src="{{ item.data.image }}">
			</div>
			<div class="list__item-title">{{ item.data.title }}</div>
		</a>
	</div>
	<div class="list__item col-4 col-6-s col-6-xs" data-location="{{ item.data.location | downcase }}" data-discipline="{{ item.data.discipline | downcase }}">
		<a class="list__anchor" href="/{{ entityName }}/{{ item.data.title | slug }}-{{ item.data.location | slug }}.html">
			<div class="list__image-wrapper">
				<img alt="{{ item.data.title }}" class="news-item-image"
					loading="lazy" src="{{ item.data.image }}">
			</div>
			<div class="list__item-title">{{ item.data.title }}</div>
		</a>
	</div>
{% endfor %}
