{% if option %}
    {% assign buttonOption = "icon-button--" | append: option %}
    {% assign iconOption = "button-icon--" | append: option %}
    {%else%}
    {% assign buttonOption = "" %}
    {% assign iconOption = "" %}
{% endif %}

{% if size == "small" %}
    {% assign buttonSize = "icon-button--" | append: size %}
    {% assign iconSize = "button-icon--" | append: size %}
    {%else%}
    {% assign buttonSize = "" %}
    {% assign iconSize = "" %}
{% endif %}


<button class="icon-button {{buttonOption}} {{buttonSize}}" id="js-{{ isReference }}">
    <img class="button-icon {{iconOption}} {{iconSize}}" src="{{iconSrc}}"/>
</button>
