<div class="image-teaser">
	<picture class="image-teaser__picture">
		<source media="(max-width: 599px)"
		        srcset="{{ data.image.mobileSrc }}" type="image/webp" />
		<source media="(min-width: 600px) and (max-width: 899px)"
		        srcset="{{ data.image.tabletSrc }}" type="image/webp" />
		<source media="(min-width: 900px)"
		        srcset="{{ data.image.desktopSrc }}" type="image/webp" />
		<img loading="lazy" src="{{ data.image.fallbackSrc }}"
		     alt="{{ data.image.altText }}"/>
	</picture>
	{% if content.firstLine %}
		<div class="image-teaser__content">
			<h3 class="image-teaser__content__first-line">{{ data.content.firstLine }}</h3>
			<h3 class="image-teaser__content__second-line">{{ data.content.secondLine }}</h3>
			<h3 class="image-teaser__content__third-line">{{ data.content.thirdLine }}</h3>
		</div>
	{% elsif content %}
		<div class="content-box">
			{{ content }}
		</div>
	{% endif %}
</div>
