<div class="job-teaser">
	<div class="grid job-teaser__wrapper">
		<div class="col-start-1 col-end-7 col-start-3-s col-end-11-s col-start-1-xs
			col-end-13-xs">
			<h3 class="job-teaser__header">
				<span>
					{{ data.jobTeaser.headline.first }}
				</span>
				<span>
					{{ data.jobTeaser.headline.second }}
				</span>
				<span class="switch">
					<span class="headline-201 switch-item">
						{{ data.jobTeaser.headline.third }}
					</span>
					<span class="headline-201 switch-item">
						{{ data.jobTeaser.headline.fourth }}
					</span>
				</span>
				<br />
				{{ data.jobTeaser.headline.fifth }}
				<span class="switch">
					<span class="headline-201 switch-item">
						{{ data.jobTeaser.headline.sixth }}
					</span>
					<span class="headline-201 switch-item">
						{{ data.jobTeaser.headline.seventh }}
					</span>
				</span>
			</h3>
			<p class="job-teaser__text copy--gray">
				{{ data.jobTeaser.copy }}
			</p>
			<a class="job-teaser__link" rel="external nofollow" href="{{ data.jobTeaser.button.href }}">
				<span class="text-scale">{{ data.jobTeaser.button.text }}</span>
			</a>
			<svg class="">
				<use href="/assets/svg/logo-part.svg" />
			</svg>
		</div>
		<div class="col-start-7 col-end-12 col-start-3-s col-end-11-s col-start-1-xs
			col-end-13-xs">
			<div class="job-teaser__illustrations">
				<img alt="{{ data.jobTeaser.images.logoPart1.alt }}" class="job-teaser__illustration1"
					src="{{ data.jobTeaser.images.logoPart1.src }}" />
				<img alt="{{ data.jobTeaser.images.logoPart2.alt }}" class="job-teaser__illustration2"
					src="{{ data.jobTeaser.images.logoPart2.src }}" />
				<img alt="{{ data.jobTeaser.images.element1.alt }}" class="job-teaser__illustration3"
					src="{{ data.jobTeaser.images.element1.src }}" />
				<img alt="{{ data.jobTeaser.images.element2.alt }}" class="job-teaser__illustration4"
					src="{{ data.jobTeaser.images.element2.src }}" />
			</div>
		</div>
	</div>
</div>