<fieldset class="job-filter-bar__category col-12-xs col-5" data-category="{{ filter.key }}">
    <legend class="job-filter-bar__category-legend">
        {{ filter.legend }} <br>
        <small id="js-active-filters--{{ filter.key }}" class="active-filters hidden-xs">All</small>
    </legend>
    {% for filterItem in filter.tags %}
    <label>
        <input class="sr-only" type="checkbox" name="{{ filter.key }}" value="{{ filterItem.key }}">
        <span class="job-filter-bar__filter-item button button--primary button--icon-left">
            {{ filterItem.label }}
        </span>
    </label>
    {% endfor %}
</fieldset>