    <h3 class="copy--title">{{data.jobDescription.titleExpectations}}</h3>
	<ul>
      {% for item in data.jobDescription.expectationsList%}
		<li>{{item.item}}</li>
       {% endfor %} 
	</ul>
	<h3 class="copy--title">{{data.jobDescription.titleRequirements}}</h3>
	<ul>
		{% for item in data.jobDescription.requirementsList %}
		    <li>{{item.item}}</li>
        {% endfor %} 
	</ul>
	<h3 class="copy--title">{{data.jobDescription.titleOffer}}</h3>
	<ul>     
        {% for item in data.jobDescription.offerList %}
		    <li>{{item.item}}</li>
        {% endfor %}
    </ul>