<div class="quote">
	<p class="quote__speach">
		<img alt="{{ data.image.altText }}" src="{{ data.image.imgSrc }}"/>
		{{ data.text[0] }}
	</p>
	<p class="quote__speach">
		{% for text in data.text %}
			{% if forloop.first == false %}
				{{ text }}
			{% endif %}
		{% endfor %}
	</p>
	<p class="quote__author">
		<span>&#11834; {{ data.author.name }}</span>, 
		{{ data.author.position }}
	</p>
</div>