<address class="copy--address">
    <ul> 
        <li>{{ data.contact.address}}</li> 
        <li>{{ data.contact.postalCode}}</li>
        <li>{{ data.contact.country}}</li>
    </ul>
    <br/>
     <ul>
        <li>{{ data.contact.tel}}</li>
        <li>{{ data.contact.fax}}</li> 
        <li><a class="copy--mail" href="mailto:{{ data.contact.mail}}">{{ data.contact.mail}}</a></li>
    </ul>
</address>