<div class="swiper-container is-grid--right" tabindex="0">
	<div class="swiper-wrapper">
		{% for slide in slides %}
		<div class="swiper-slide">
			<picture>
				<source media="(max-width: 599px)" srcset="{{ slide.mobileSrc }}" type="image/webp" />
				<source media="(min-width: 600px) and (max-width: 1199px)" srcset="{{ slide.tabletSrc }}" type="image/webp" />
				<source media="(min-width: 1200px)" srcset="{{ slide.desktopSrc }}" type="image/webp" />
				<img loading="lazy" src="{{ slide.fallbackSrc }}" alt="{{ slide.altText }}" class="parallax-medium" />
			</picture>
			{% if slide.info %}
				<p><span>{{ slide.info.title }}</span> {{ slide.info.text }}</p>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</div>
