<div class="works__content-picture">
    <source media="(max-width: 599px)"
            srcset="{{ data.mobileSrc }}" type="image/webp" />
    <source media="(min-width: 600px) and (max-width: 1199px)"
            srcset="{{ data.tabletSrc }}" type="image/webp" />
    <source media="(min-width: 1200px)"
            srcset="{{ data.desktopSrc }}" type="image/webp" />
    <img class="preview" src="./assets/images/fallback/{{data.imageFallback}}"
        alt="{{data.name}}">
    <div>
        <a href="{{data.link}}">
            {% include button-notext, size: "small", iconSrc:"/assets/svg/Arrow-S.svg" %}
        </a>
        <p><span>{{data.company}}</span> {{data.name}}</p>
    </div>
</div>