{% if option %}
    {% assign buttonOption = "icon-button--" | append: option %}
    {% assign iconOption = "icon-button__icon--" | append: option %}
    {%else%}
    {% assign buttonOption = "" %}
    {% assign iconOption = "" %}
{% endif %}

{% if size == "small" %}
    {% assign buttonSize = "icon-button--" | append: size %}
    {% assign iconSize = "icon-button__icon--" | append: size %}
    {%else%}
    {% assign buttonSize = "" %}
    {% assign iconSize = "" %}
{% endif %}


<button class="icon-button {{buttonOption}} {{buttonSize}}" onclick="{{ onclick }}">
    <img class="icon-button__icon {{iconOption}} {{iconSize}}" src="/assets/svg/Chevron-down.svg"/>
</button>
