---
title: SinnerSchrader
layout: default.liquid
pagination:
  data: collections.jobs
  size: 1
  alias: job
permalink: "jobs/{{ job.data.jobnumber | slug }}.html"
bodyClass: is-bg-scroll
dataJsItem: bg-scroll-animation
---
<div class="fade-bg-black">{% include navigation, data: global %}</div>
<main class="job-details">
	<section class="fade-bg-black grid">
		<a class="job-details__openings" href="/jobs.html">
			<svg class="button__icon">
				<use href="/assets/svg/icons.svg#arrow-left" />
			</svg>
			<span>All openings</span>
		</a>
	</section>
	<section class="fade-bg-black grid">{% include page-headline, firstline: job.data.title, secondline: '(f/m/d/-)' %}</section>
	<section class="fade-bg-black job-details__description grid">
		<div class="col-5 col-12-xs job-details__description__button">
			<a href="#job-description" class="button button--secondary button--small">
				<span class="button__text">see details</span>
			</a>
		</div>
		<div class="col-7 col-12-xs">
			<p class="text-teaser__text">We build things, we break things</p>
		</div>
	</section>
	<section class="fade-bg-black">
		{% capture title %}{{ job.date | date: "%d.%m.%Y" }} &#183; {{ job.data.industry }} &#183; {{ job.data.joblocation }}{% endcapture %}
		{% include section-header, title: title, spinningWheel: "spinning-wheel" %}
	</section>
	{% capture firstline %}Join our <span>{{ job.data.industry }}</span> team {% endcapture %}
	{% capture secondline %}in {{ job.data.joblocation | capitalize }}{% endcapture %}
	<section class="fade-bg-black grid">{% include page-headline, firstline: firstline, secondline: secondline %}</section>
	
	<section id="job-description">
		{% include section-header, title: "job details", number: "02" %}
	</section>
	<section class="job-details__info grid">
		<div class="job-details__info__content col-7 col-8-m col-7-s col-12-xs">
			{{ job.data.description }}
			{{ job.data.quals }}
		</div>
		<div class="col-start-10 col-end-13 col-start-9-s col-end-13-s col-start-1-xs col-end-13-xs">
			<div class="job-details__info__aside">
				{% include share-buttons, title: "Share this job" link:true facebook:true twitter:true devTo:true xing:true linkedIn:true %}
				{% include button-apply, data: job-details workdayLink: job.data.link %}
			</div>
		</div>
	</section>
	<section>{% include text-teaser, data: job-details.about %}</section>
	<section>{% include text-teaser, data: job-details %}</section>
	<section>
	<div class="job-details__apply text-teaser grid">
		<div class="col-5 col-12-xs">
			<h3 class="copy--title">Sounds like you?</h3>
		</div>
			<div class="col-7 col-12-xs">
				{% include button-apply, data: job-details workdayLink: job.data.link %}
			</div>
		<div>
	</section>
</main>

{% include footer, data: global hasAccentureDisclaimer: true %}
