---
title: SinnerSchrader
layout: default.liquid
pagination:
  data: collections.news
  size: 1
  alias: article
permalink: "news/{{ article.data.title | slug }}-{{ article.data.location | slug }}.html"
bodyClass: is-bg-scroll
dataJsItem: bg-scroll-animation
---
{% include navigation, data: global %}

<main class="news-details-page">
    {% assign newsByDate = collections.news | date | reverse %}

	<section class="fade-bg-black news-details-page__title">
		<div class="image-teaser">
			<picture class="image-teaser__picture">
				<img loading="lazy" src="{{ article.data.image }}"
					alt="{{ article.data.altText }}"/>
			</picture>
			<div class="content-box">
				<div class="title">
					<h3>{{ article.data.title }}</h3>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="grid">
			{% include share-buttons, derection:"row" title:"" link:true facebook:true twitter:true devTo:true xing:true linkedIn:true %}
		</div>
	</section>

	<section class="news-details-page__article">
		<div class="grid">
			<div class="col-5 col-12-xs introText">
				<p>{{ article.data.introText }}</p>
			</div>
			<div class="col-7 col-12-xs articleText">
				<p>{{ article.data.articleText }}</p>
			</div>
		</div>
	</section>

	<section class="list">
        <div class="grid">
			{% for article in newsByDate limit: 3 %}
				<div class="list__item col-4 col-6-s col-6-xs">
					<a class="list__anchor" href="/news/{{ article.data.title | slug }}-{{ article.data.location | slug }}.html">
						<div class="list__image-wrapper">
							<img alt="{{ article.data.title }}" class="news-item-image"
								loading="lazy" src="{{ article.data.image }}">
						</div>
						<div class="list__item-title">{{ article.data.title }}</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</section>

	<section class="fade-bg-black">
		{% include section-header, title: "Here we are", number: "06", type: "medium" %}
		{% include locations %}
	</section>
</main>

{% include footer, data: global %}
